<!DOCTYPE html>
<html>  
	<head>
		<title>Web buzzer example !</title>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="js/buzzers.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/buzzers.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container-fluid" ng-app="app">
		{{{body}}}
		</div>
	</body>
</html> 